.advice-item {
    background-color: var(--white);
    box-shadow: 1px 1px 12px rgba(71, 71, 71, 0.03);
    border-radius: 5px;
    transition: box-shadow $transitionSpeed $transitionFunction;

    &__wrapper {
        width: 100%;
    }

    &__img {
        padding-bottom: percent(295, 429);
        border-radius: 5px;
        overflow: hidden;

        img {
            border-radius: 5px;
            transition: transform 1s $transitionFunction;
        }
    }

    &__content {
        padding: 24px;
        @media (max-width:$smallTablet-max){
             padding: 16px; 
        }
    }

    &__time {
        margin-bottom: 8px;

        display: inline-block;
        color: var(--gray);
        font-weight: 400;
        font-size: 14px;
        line-height: math.div(23, 14);
        @media (max-width:$smallTablet-max){
             margin-bottom: 4px; 
        }
    }

    &__title {
        transition: color $transitionSpeed $transitionFunction;
    }

    &__descr {
        margin-top: 16px;

        @media (max-width:$smallTablet-max) {
            display: none;
        }
    }

    &:hover {
        box-shadow: 1px 1px 12px rgba(71, 71, 71, 0.06);

        .advice-item {
            &__img {
                img {
                    transform: scale(1.05);
                }
            }

            &__title {
                color: var(--blue);
            }
        }
    }
}
