.map {
    height: 550px;
    background-color: var(--water);

    @media (max-width:$tablet-max) {
        height: 350px;
    }

    @media (max-width:$smallTablet-max) {
        height: 300px;
    }

    @media (max-width:$mobile-max) {
        height: 245px;
    }

    &__img {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
        }
    }
}
