.services {
    padding: 80px 0 100px;

    &__subtitle {
        margin-bottom: 8px;
    }

    &__title {
        margin-bottom: 16px;
    }

    &__descr {
        margin: 0 auto;
        color: var(--gray);
        max-width: 450px;
    }

    &__content {
        margin-top: 40px;

        @media (max-width:$tablet-max) {
            margin-top: 32px;
        }
    }

    &__list {
        @media (min-width:$tablet-min) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 16px;
        }

    }

    &__item {
        box-sizing: border-box;
    }

    @media (max-width:$tablet-max) {
        padding: 40px 0;
    }
}
