.services {
    padding: 80px 0;

    &__subtitle {
        margin-bottom: 8px;
    }

    &__title {
        margin-bottom: 16px;
    }

    &__descr {
        margin: 0 auto;
        color: var(--gray);
        max-width: 450px;
    }

    &__content {
        padding: 10px;
        margin: 30px -10px -10px -10px;

        @media (max-width:$tablet-max) {
            margin-top: 22px;
        }
    }

    &__list {
        @media (min-width:$tablet-min) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-row-gap: 16px;
            grid-column-gap: 16px;
        }

    }

    &__item {
        box-sizing: border-box;

        @media (max-width:$tablet-max) and (min-width:$mobile-min) {
            height: 100% !important;
        }
    }

    @media (max-width:$tablet-max) {
        padding: 40px 0;
    }
}
