<section class="contacts">
    <div class="contacts__container container">
        <div class="contacts__col contacts__our our-contacts">
            <p class="our-contacts__subtitle subtitle">
                we are local
            </p>
            <h4 class="our-contacts__title title-4">
                We proudly serve the Chicagoland area
            </h4>
            <p class="our-contacts__descr descr">
                Alliance Moving & Storage is a family-operated moving company based in Rolling Meadows. Our mission is
                to provide professional, affordable, and reliable moving
            </p>
            <div class="our-contacts__list">
                <div class="our-contacts__item">
                    <svg>
                        <use xlink:href="img/sprite.svg#location"></use>
                    </svg>
                    3201 TOLLVIEW DRIVE ROLLING MEADOWS, IL 60008
                </div>
                <div class="our-contacts__item">
                    <svg>
                        <use xlink:href="img/sprite.svg#location"></use>
                    </svg>
                    4305 N. LINCOLN AVE CHICAGO, IL 60618
                </div>
                <a href="tel:8473784949" class="our-contacts__item">
                    <svg>
                        <use xlink:href="img/sprite.svg#phone"></use>
                    </svg>
                    (847) 378-4949
                </a>
            </div>
        </div>
        <div class="contacts__col contacts__us contacts-us">
            <h4 class="contacts-us__title title-4">
                Get In Touch
            </h4>
            <form action="#" class="contacts-us__form form-primary">
                <label class="label-input form-primary__label form-primary__label--name">
                    <div class="label-input__name">Full Name <span>*</span></div>
                    <input type="text" name="full-name"
                        class="input-reset input-primary form-primary__input--name label-input__input" placeholder="">
                </label>
                <label class="label-input form-primary__label form-primary__label--tel">
                    <div class="label-input__name">Phone <span>*</span></div>
                    <input type="tel" name="phone"
                        class="input-reset input-primary form-primary__input--tel label-input__input"
                        placeholder="---_---_----">
                </label>
                <label class="label-input form-primary__label form-primary__label--email">
                    <div class="label-input__name">Email <span>*</span></div>
                    <input type="email" name="email"
                        class="input-reset input-primary form-primary__input--email label-input__input" placeholder="">
                </label>
                <label class="label-input form-primary__label form-primary__label--notes">
                    <div class="label-input__name">Notes</div>
                    <textarea class="input-reset textarea-primary form-primary__input--notes label-input__textarea"
                        placeholder=""></textarea>
                </label>
                <button type="submit" class="btn btn-reset btn-secondary form-primary__btn">Submit</button>
            </form>
        </div>
    </div>
</section>
