<section class="our-advices">
    <div class="container">
        <div class="our-advices__top">
            <p class="our-advices__subtitle subtitle" data-aos="fade-right" data-aos-delay="400">
                BLOG
            </p>
            <h4 class="our-advices__title title-4" data-aos="fade-right" data-aos-delay="400">
                Our latest moving tips
            </h4>
            <a href="#" class="btn btn-reset btn-third btn-third--blue our-advices__link">View All</a>
        </div>
        <div class="our-advices__content swiper" data-slider-breakpoint="false">
            <div class="swiper-wrapper our-advices__list">

                <div class="swiper-slide our-advices__item" data-aos="zoom-in" data-aos-delay="400">
                    <article class="advice-item">
                        <a href="#" class="advice-item__wrapper">
                            <div class="advice-item__img ibg">
                                <picture>
                                    <source srcset="./img/advice-1.webp" type="image/webp">
                                    <img loading="lazy" src="./img/advice-1.jpg" width="429" height="295"
                                        alt="How to move during COVID">
                                </picture>
                            </div>
                            <div class="advice-item__content">
                                <time class="advice-item__time" datetime="2021-12-16">December 16, 21</time>
                                <h3 class="advice-item__title title-3">How to move during COVID</h3>
                                <p class="advice-item__descr descr">
                                    It depends on the size of your room It depends on the size of your room It depends
                                    on the size of your room
                                </p>
                            </div>
                        </a>
                    </article>
                </div>
                <div class="swiper-slide our-advices__item" data-aos="zoom-in" data-aos-delay="600">
                    <article class="advice-item">
                        <a href="#" class="advice-item__wrapper">
                            <div class="advice-item__img ibg">
                                <picture>
                                    <source srcset="./img/advice-1.webp" type="image/webp">
                                    <img loading="lazy" src="./img/advice-1.jpg" width="429" height="295"
                                        alt="How to move during COVID">
                                </picture>
                            </div>
                            <div class="advice-item__content">
                                <time class="advice-item__time" datetime="2021-12-16">December 16, 21</time>
                                <h3 class="advice-item__title title-3">How to move during COVID</h3>
                                <p class="advice-item__descr descr">
                                    It depends on the size of your room It depends on the size of your room It depends
                                    on the size of your room
                                </p>
                            </div>
                        </a>
                    </article>
                </div>
                <div class="swiper-slide our-advices__item" data-aos="zoom-in" data-aos-delay="800">
                    <article class="advice-item">
                        <a href="#" class="advice-item__wrapper">
                            <div class="advice-item__img ibg">
                                <picture>
                                    <source srcset="./img/advice-1.webp" type="image/webp">
                                    <img loading="lazy" src="./img/advice-1.jpg" width="429" height="295"
                                        alt="How to move during COVID">
                                </picture>
                            </div>
                            <div class="advice-item__content">
                                <time class="advice-item__time" datetime="2021-12-16">December 16, 21</time>
                                <h3 class="advice-item__title title-3">How to move during COVID</h3>
                                <p class="advice-item__descr descr">
                                    It depends on the size of your room It depends on the size of your room It depends
                                    on the size of your room
                                </p>
                            </div>
                        </a>
                    </article>
                </div>
            </div>
        </div>
        <div class="slider-pagination-primary"></div>
    </div>
</section>
