<section class="services">
    <div class="container">
        <p class="services__subtitle subtitle text-center" data-aos="fade-right" data-aos-delay="500">
            what we do
        </p>
        <h2 class="services__title title-2 text-center" data-aos="fade-right" data-aos-delay="700">
            Professional Moving Services
        </h2>
        <p class="services__descr text-center descr" data-aos="fade-right" data-aos-delay="900">
            From cross-country moves to anywhere in between, distance moving can be simple. We’ll help you get there
        </p>
        <div class="services__content swiper" data-slider-breakpoint="false">
            <div class="swiper-wrapper services__list">
                <div class="swiper-slide services__item service-item" data-aos="zoom-in" data-aos-delay="300">
                    <a href="#" class="service-item__wrapper">
                        <div class="service-item__icon">
                            <svg>
                                <use xlink:href="img/sprite.svg#moving-truck"></use>
                            </svg>
                        </div>
                        <h3 class="service-item__title title-3">
                            Residential Moving
                        </h3>
                        <p class="service-item__descr descr">
                            Managing every detail, big or small, to help you have the smoothest move possible. We’ll
                            help you arrive home
                        </p>
                    </a>
                </div>
                <div class="swiper-slide services__item service-item" data-aos="zoom-in" data-aos-delay="500">
                    <a href="#" class="service-item__wrapper">
                        <div class="service-item__icon">
                            <svg>
                                <use xlink:href="img/sprite.svg#boxes"></use>
                            </svg>
                        </div>
                        <h3 class="service-item__title title-3">
                            Commerical Moving
                        </h3>
                        <p class="service-item__descr descr">
                            Fast & efficient moving for businesses, while ensuring careful handling of equipment. We’ll
                            support your business venture
                        </p>
                    </a>
                </div>
                <div class="swiper-slide services__item service-item" data-aos="zoom-in" data-aos-delay="700">
                    <a href="#" class="service-item__wrapper">
                        <div class="service-item__icon">
                            <svg>
                                <use xlink:href="img/sprite.svg#box"></use>
                            </svg>
                        </div>
                        <h3 class="service-item__title title-3">
                            Packing and Unpacking services
                        </h3>
                        <p class="service-item__descr descr">
                            Careful packing, crating, wrapping, and unpacking so you won’t have to worry. We’ll organize
                            the
                            moving parts
                        </p>
                    </a>
                </div>
                <div class="swiper-slide services__item service-item" data-aos="zoom-in" data-aos-delay="900">
                    <a href="#" class="service-item__wrapper">
                        <div class="service-item__icon">
                            <svg>
                                <use xlink:href="img/sprite.svg#sofa"></use>
                            </svg>
                        </div>
                        <h3 class="service-item__title title-3">
                            Furniture disassembly service
                        </h3>
                        <p class="service-item__descr descr">
                            Servicing your appliances, electronics, over-sized furniture, and more. We’ll care for your
                            valuables
                        </p>
                    </a>
                </div>
                <div class="swiper-slide services__item service-item" data-aos="zoom-in" data-aos-delay="1100">
                    <a href="#" class="service-item__wrapper">
                        <div class="service-item__icon">
                            <svg>
                                <use xlink:href="img/sprite.svg#map"></use>
                            </svg>
                        </div>
                        <h3 class="service-item__title title-3">
                            Long-Distance Movers
                        </h3>
                        <p class="service-item__descr descr">
                            From cross-country moves to anywhere in between, distance moving can be simple. We’ll help
                            you
                            get there
                        </p>
                    </a>
                </div>
                <div class="swiper-slide services__item service-item" data-aos="zoom-in" data-aos-delay="1300">
                    <a href="#" class="service-item__wrapper">
                        <div class="service-item__icon">
                            <svg>
                                <use xlink:href="img/sprite.svg#warehouse"></use>
                            </svg>
                        </div>
                        <h3 class="service-item__title title-3">
                            Storage Units
                        </h3>
                        <p class="service-item__descr descr">
                            Climate controlled facilities to meet any of your storage needs. We’ll keep your items safe
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="slider-pagination-primary"></div>
    </div>
</section>
