.title-1 {
    font-weight: 600;
    font-size: 40px;
    line-height: math.div(47, 40);
    text-transform: capitalize;

    @media (max-width:$tablet-max) {
        font-size: 30px;
    }

    @media (max-width:$smallTablet-max) {
        font-size: 20px;
    }
}

.title-2 {
    font-weight: 500;
    font-size: 32px;
    line-height: math.div(54, 32);
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: var(--dark);

    @media (max-width:$tablet-max) {
        font-size: 20px;
    }
}

.title-3 {
    font-weight: 600;
    font-size: 18px;
    line-height: math.div(30, 18);
    letter-spacing: -0.01em;
    color: var(--dark);

    @media (max-width:$tablet-max) {
        font-size: 16px;
    }
}
.title-4{
    font-weight: 500;
font-size: 24px;
line-height: math.div(38 , 24);
letter-spacing: -0.01em;
text-transform: uppercase;
color: var(--dark);
@media (max-width:$tablet-max){
    font-size: 20px;
}
}
.subtitle {
    font-weight: 600;
    font-size: 12px;
    line-height: math.div(20, 12);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--gray-secondary);
}

.descr {
    font-weight: 400;
    font-size: 16px;
    line-height: math.div(27, 16);

    @media (max-width:$smallTablet-max) {
        font-size: 14px;
    }
}

.text-center {
    text-align: center;
}

.img-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hide{
    display: none;
}