// main
$fontFamily: "Work Sans";
$fontSize: 16;
$minWidth: 320;
$maxWidth: 1920;
$contentWidth: 1319;
$containerOffset: 15;
$containerWidth: calc($contentWidth + ($containerOffset * 2));

// main colors
$bodyColor: #fff; // Цвет body по умолчаниюу
$mainColor: #142B35; // Цвет шрифта по умолчанию

:root {
    --dark: #142b35;
    --white: #fff;
    --gold: #f2b91d;
    --gold-secondary: #ecb51d;
    --blue: #3a98b2;
    --blue-secondary: #328ba4;
    --gray: #5b6e76;
    --gray-slate: #738697;
    --sinbad: #abd2d9;
    --alto: #e0e0e0;
    --overlay-primary: rgba(55, 46, 46, 0.4);
}



// others vars
$transitionSpeed: 0.25s;
$transitionFunction: ease-in-out;



// break points
$desktop: $containerWidth+px;
$tablet-max: 1024px;
$tablet-min: 1025px;

$smallTablet-max: 768px;
$smallTablet-min: 769px;

$mobile-max: 576px;
$mobile-min: 577px;

$smallMobile-max: 480px;
$smallMobile-min: 481px;
